<!DOCTYPE html>
<html>
<head lang="ru">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,user-scalable=yes">
	<title>
		@if (ViewBag.Title != null) {
			@:@ViewBag.Title -
		}
		«Стиль Л»
	</title>
	<link rel="stylesheet" href="~/index.css" />
</head>
<body>
	<header>
		<div class="bg">
			<div class="container">
				<a class="logo" href="/" title="Перейти на главную">
					<img alt="Стиль Л" src="/images/logo.png" />
				</a>
				<div class="phone">
					Контактный телефон<br />
					<a href="tel:+79129237037">8 (912) 923-70-37</a>
				</div>
			</div>
		</div>
	</header>
	<content class="container">
		<nav>
			@{ var pageActive = ViewContext.RouteData.Values["page"]?.ToString(); }
			@foreach (var (url, name) in new[] {
				("/Index", "Главная"),
				("/Projects", "Наши эксклюзивные работы"),
				("/Publications", "Публикации"),
				// ("/Workflow", "Рабочие моменты"),
				("/Contacts", "Контакты")
			}) {
				<a asp-page="@url" asp-route-key="" class="@(url == pageActive ? "active" : "") @(url == "/Index" ? "home" : "")">@name</a>
			}
		</nav>
		@if (ViewBag.Title != null) {
			<h1>@ViewBag.Title</h1>
		}
		@RenderBody()
	</content>
	<footer>
		<div class="bg">
			<div class="container">
				© 2010-2018, «Стиль Л»
				<span class="line2">дизайн, строительство, отделка</span>
			</div>
		</div>
	</div>
	</footer>
	<!-- <partial name="_CookieConsentPartial" /> -->
	<!-- @RenderSection("Scripts", required: false) -->
</body>
</html>
