<!DOCTYPE html>
<html>
<head lang="ru">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,user-scalable=yes">
	<title>@ViewBag.Title</title>
	<link rel="icon" sizes="32x32" type="image/png" href="/icon-32.png">
	<link rel="icon" sizes="16x16" type="image/png" href="/icon-16.png">
	<link rel="apple-touch-icon" href="/icon-120.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/icon-180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icon-152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/icon-167.png">
	<link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
	<partial name="_Svg" />
	<header>
		<div class="bg">
			<div class="container">
				<a class="logo" href="/" title="Перейти на главную"></a>
				<div class="phone">
					Контактный телефон<br />
					<a href="tel:+79129237037">8 (912) 923-70-37</a>
				</div>
			</div>
		</div>
	</header>
	<content class="container">
		<nav>
			@{ var pageActive = ViewContext.RouteData.Values["page"]?.ToString(); }
			@foreach (var (url, name) in new[] {
				("/Index", "Главная"),
				("/Projects", "Наши эксклюзивные работы"),
				("/Publications", "Публикации"),
				// ("/Workflow", "Рабочие моменты"),
				("/Contacts", "Контакты")
			}) {
				<a asp-page="@url" asp-route-key="" class="@(url == "/Index" ? "home" : "normal") @(url == pageActive ? "active" : "")">
					@if (url == "/Index") {
						<svg>
							<use xlink:href="#icon-home" fill="url(#icon-home-bg)"/>
							<use xlink:href="#icon-home" fill="url(#icon-home-bg-active)" class="active"/>
						</svg>
					}
					else {
						<svg>
							<use xlink:href="#icon-menu"/>
						</svg>
						@name
					}
				</a>
			}
		</nav>
		<main>
			@if (ViewBag.Header != null) {
				<h1>@ViewBag.Header</h1>
			}
			@RenderBody()
		</main>
	</content>
	<footer>
		<div class="bg">
			<div class="container">
				© 2010-2020, «Стиль Л»
				<span class="line2">дизайн, строительство, отделка</span>
			</div>
		</div>
	</div>
	</footer>
	<script src="/index.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
