@page "{key?}"
@model PublicationsModel
@inject MarkdownProvider Markdown
@{
	ViewBag.Title = Model.Item?.Name ?? "Публикации";
}

@if (Model.List != null) {
	foreach (var p in Model.List) {
		<article class="publications">
			<div class="date">
				@p.Date.ToString("MMMM")
				<span class="year">@p.Date.ToString("yyyy")</span>
			</div>
			<a asp-route-key="@p.RowKey">
				@p.Place
				<span class="name">@p.Name</span></a>
		</article>
	}
}
else {
	<article class="doc gallery">
		<h3>@Model.Item.Place (@Model.Item.Date.ToString("MMMM yyyy"))</h3>
		@Markdown.ToHtml(Model.Item.Text)
	</article>
	<a asp-route-key="">Вернуться к списку публикации</a>
}